.chat-container {
    background-color: #b7ff0042; /* Dark yellow background */
    color: white; /* White text color */
    padding: 10px;
    overflow-y: scroll;
    height: 300px; /* Set a fixed height or adjust as needed */
  }
  
  .chat-bubble {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
  }
  
  .sent {
    background-color: #555; /* Dark gray background for sent messages */
  }
  
  .received {
    background-color: #333; /* Darker gray background for received messages */
  }
  